
:root{
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

/**
* colour pallete
*/
.hot-pink{
    background-color: #FFAEBC;
}
.blue{
    background-color: #A0E7E5;
}
.mint{
    background-color: #B4F8C8;
}
.yellow{
    background-color: #FBE7C6;
}
.ivory{
    background-color: #EEEDE7;
}
.gray{
    background-color: #868B8E;
}
.pewter{
    background-color: #B9B7BD;
}
.seashell{
    background-color: #E7D2CC;
}
/*===== BASE =====*/
*, ::before, ::after{
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  /**
  * ====================== Layout Section =======================
  */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.col-lg-3, .col-md-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.absolute{
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 5px;
    opacity: 0.7;
}
.absolute::after{
    content: '';
    background-color: blue;

}

/**
*============================ site Navigation menu here ======================
*
*/

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 18px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
/** preloader */
.preloader {
    background: #171616;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

/**
*======================= Page media query=======================
* mobile first responsive design
* adapted from bootstrap framework
*/
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}





